.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.btnBox {
  margin-top: 17px;
  font-weight: bold;
  color: white;
  padding: 15px 25px;
  background-color: rgb(250, 175, 90);
}
.heading > h2 {
  padding-top: 30px;
}
.flex1 {
  display: flex;
  width: 100%;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-evenly;
}
.footerBottom {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.navbar-nav {
  display: flex;

  flex-direction: row;
}
